<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/admin/product/new">Add Product</a></li>
      </ol>
    </div>
  </div>
</div>

<div class="prdt">
  <div class="container">
    <div class="prdt-top">
      <div class="col-md-12">
        <div class="product-one signup">
          <div class="register-top heading">
            <h2>CREATE PRODUCT</h2>
          </div>

          <div class="register-main">
            <div class="col-md-6 account-left">
              <%= simple_form_for(@product, url: admin_product_index_url, html: {method: :post}) do |f| %>
                <%= f.error_notification %>
                <div class="form-group">
                <p>
                  <h4>Upload JSON file (instead of writting)</h4>
                  <%= f.file_field(:json_file,
                                   accept: 'application/json')
                  %>
                  <%= submit_tag "Upload", class: "btn btn-default" %>
                </p>
                </div>
                <div class="form-group">
                  <%= f.input :title,
                              required: true,
                              autofocus: true,
                              input_html: {class: "form-control"}
                  %> 
                </div>
                <div class="form-group">
                  <%= f.input :bytitle,
                              required: false,
                              input_html: {class: "form-control"}
                  %> 
                </div>
                <div class="form-group">
                  <%= f.input :quantity,
                              label: "Quantity",
                              required: false,
                              input_html: {class: "form-control", min: 0}
                  %>
                </div>
                <div class="form-group">
                  <%= f.input :brand,
                              label: "Brand",
                              collection: @brands.sort, 
                              label_method: :first, 
                              value_method: :second,
                              input_html: {class: "form-control"} %>
                </div>
                <div class="form-group">
                  <%= f.input :category,
                              label: "Category",
                              collection: @collection.sort, 
                              label_method: :first, 
                              value_method: :second,
                              input_html: {class: "form-control"} %>
                </div>
                <div class="form-group">
                  <%= f.input :content,
                              required: false,
                              input_html: {class: "form-control", style:"resize:none"}
                  %>
                </div>
                <div class="form-group">
                  <%= f.input :price,
                              label: "Price",
                              required: true,
                              input_html: {class: "form-control", min: 0}
                  %>
                </div>
                <div class="form-group">
                  <%= f.input :old_price,
                              label: "Old Price",
                              required: false,
                              input_html: {class: "form-control", min: 0}
                  %>
                </div>
                <div class="form-group">
                <%= f.input :status, as: :radio_buttons, 
                              collection: [['not_active', 'Not Active'], ['active', 'Active']], 
                              label_method: :second, 
                              value_method: :first,
                              checked: @status %>
                </div>
                <div class="form-group">
                  <%= f.input :keywords,
                              required: false,
                              input_html: {class: "form-control"}
                  %>
                </div>
                <div class="form-group">
                  <%= f.input :description,
                              as: :text,
                              required: false,
                              input_html: {class: "form-control", rows: 2, style:"resize:none"}
                  %>
                </div>
                <div class="form-group">
                  <label class="string optional">Product main image</label>
                  <p>
                    <% if @product.img %>
                      <%= image_tag(@product.img, class:"img", alt:"140x140", style:"width: 140px; height: 140px;") %>
                    <% else %>
                      No image
                    <% end %>
                  </p>
                  <%= f.file_field(:img,
                                   label: "Add an img",
                                   accept: 'image/*')
                  %>
                </div>
                <div class="form-group">
                  <label class="string optional">Gallery</label>
                </div>
                  <div class="col-md-6 single-top-left">
                    <% unless @product.galleries.empty? %>
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <% @product.galleries.each.with_index do |image, i| %>
                            <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
                          <% end %>
                        </ol>
                        <div class="carousel-inner">
                          <% @product.galleries.each.with_index do |image, i| %>
                            <div class="item <%= 'active' if i == 0 %>">
                              <%= image_tag(image.img, alt: "") %>
                              <h5 align="center"><%= link_to "Delete", "/admin/gallery/#{image.id}" %></h5>
                            </div>           
                          <% end %>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    <% else %>
                    No Photos
                    <% end %>
                  </div>
                <p><div class="clearfix"></div></p>
                <div class="form-group">
                  <%= f.file_field(:image,
                                   label: "Add an images",
                                   multiple: true,
                                   accept: 'image/*')
                  %>
                </div>
                <div class="form-group">
                  <%= f.input :hit, as: :radio_buttons, 
                              collection: [['not_hit', 'Not Hit'], ['hit', 'Hit']], 
                              label_method: :second, 
                              value_method: :first,
                              checked: @hit %>
                </div>
                <div class="form-actions">
                  <%= f.button :submit, "Create", class: "btn btn-success" %>
                </div>
              <% end %>
              <br>
              <div style="height:10px;font-size:10px;">&nbsp;</div>
              <%= link_to "Back", 'javascript:history.back()', class: "btn btn-default" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>