<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li>Make an order</li>
      </ol>
    </div>
  </div>
</div>

<div class="single">
  <div class="single-main">
    <div class="register-top heading">
      <p>
        <h2>MAKE AN ORDER</h2>
        <h4>(Use Cart to manage you order)</h4>
      </p>
    </div>
    <div class="container">
    <% unless current_user.nil? %>
      <% if !products.empty? %>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th style="width:30%;">Photo</th>
              <th style="width:30%;">Name</th>
              <th style="width:20%;">Color</th>
              <th>Size</th>
              <th>Amount</th>
              <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <% qty = [] %>
            <% sum = [] %>
            <% products.map do |item| %>
              <tr>
                <td>
                  <% if item.product.img.nil? %>
                    <%= link_to(item.product.title, item.product) %>
                  <% else %>
                    <%= link_to(image_tag(item.product.img, size: "125x200"), item.product) %>
                  <% end %>
                </td>
                <td><%= link_to(item.product.title, item.product) %></td>
                <td><%= item.color %></td>
                <td><%= item.size %></td>
                <td>
                  <% qty << item.quantity%><%= item.quantity %>psc.
                </td>
                <% pr = item.quantity * item.product.price %>
                <% sum << pr %>
                <td><%= item.product.price %> </td>
              </tr>
            <% end %>
            <tr>
              <td>Total Amount:</td>
              <td colspan="5" class="text-right cart-qty"><%= qty.sum %> psc.</td>
            </tr>
            <tr>
              <td>Total Price:</td>
              <td colspan="5" class="text-right cart-sum"><%= format("%.2f", sum.sum) %>$</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h1 class="panel-title" id="panel-title" style="font-size: 36px;">Profile Information 
              <%= link_to "Edit", edit_user_registration_path , class: "btn btn-default" %></h1>
            </div>
            <div class="panel-body bio-graph-info">
              <div class="row">
                <div class="bio-row">
                    <p><span><b>First Name</b> </span>: <%= current_user.first_name %></p>
                </div>
                <div class="bio-row">
                    <p><span><b>Last Name</b> </span>: <%= current_user.last_name %></p>
                </div>
                <div class="bio-row">
                    <p><span><b>Address</b> </span>: <%= current_user.address %></p>
                </div>
                <div class="bio-row">
                    <p><span><b>Country</b> </span>: <%= current_user.country %></p>
                </div>
                <div class="bio-row">
                    <p><span><b>Email</b> </span>: <%= current_user.email %></p>
                </div>
                <div class="bio-row">
                    <p><span><b>Phone</b> </span>: <%= current_user.phone %></p>
                </div>
              </div>
            </div>
          </div>
        <%= simple_form_for(@order, url: order_index_url, html: {method: :post}) do |f| %>
          <%= f.error_notification %>
          <div class="form-group">
            <%= f.input :comment,
                        as: :text,
                        required: false,
                        input_html: {class: "form-control", rows: 2, style:"resize:none"}
            %>
          </div>
          <br>
        </div>
          <div class="row">
            <div class="col-md-10"><%= link_to "Back", 'javascript:history.back()', class: "btn btn-default" %></div>
            <div class="col-md-1" style="margin-left:60px;">
              <%= f.button :submit, "Make an order", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3>Cart is empty</h3>
      <% end %>
    <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>